<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Contact Manager</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1>Your Contacts</h1>
    <div id="contacts">
      <form id="addContact"action="#">
        <div>
          <label for="firstName">First Name:</label><input id="firstName" type="text"/>
          <label for="lastName">Last Name:</label><input id="lastName" type="text"/>
          <label for="email">Email:</label><input id="email" type="text"/>
          <label for="company">Company:</label><input id="company" type="text"/>
          <label for="title">Title:</label><input id="title" type="text"/>
          <label for="phone">Phone:</label><input id="phone" type="text"/>
          <button id="add">Add Contact</button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/template" id="contactTemplate">
      <div class="basics">
        <header id="fullName"><%= firstName %> <%= lastName %></header>
        <div class="main">
          <ul>
            <li class="email" id="email"><%= email %></li>
            <li class="phone" id="phone"><%= phone %></li>
          </ul>
        </div>
        <footer id="showMore">
          <a id="show" href="#">Show More</a>
        </footer>
      </div>
      <div class="details hidden">
        <div class="main">
          <ul>
            <li id="title"><%= title %></li>
            <li id="company"><%= company %></li>
          </ul>
        </div>
        <footer id="showLess">
          <a id="hide" href="#">Show Less</a>
        </footer>
      </div>
  </script>
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/models/contact.js"></script>
  <script src="js/collections/rolodex.js"></script>
  <script src="js/views/contact.js"></script>
  <script src="js/views/rolodex.js"></script>
  <script src="js/app.js"></script>
</body>
</html>