<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Contact Manager</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1>Your Contacts</h1>
    <div id="contacts">
      <a href="#" id="showAddForm">Add a Contact</a>
      <input id="search" type="text" placeholder="search">
      <form class="addContact hidden" action="#">
        <div>
          <input id="firstName" placeholder="First Name" type="text"/>
          <input id="lastName" placeholder="Last Name"type="text"/>
          <input id="email" placeholder="Email" type="text"/>
          <input id="company" placeholder="Company" type="text"/>
          <input id="title" placeholder="Title at company" type="text"/>
          <input id="phone" placeholder="Phone Number" type="text"/>
          <a id="add" class="submit" href="#">Add Contact</a>
          <a id="hideForm" href="#">Hide Form</a>
        </div>
      </form>
    </div>
  </div>
  <script type="text/template" id="contactTemplate">
      <div class="basics">
        <header id="fullName">
          <span id="firstName"><%= firstName %></span> <span id="lastName"><%= lastName %></span>
          </header>
        <div class="main">
          <ul>
            <li class="email" id="email"><%= email %></li>
            <li class="phone" id="phone"><%= phone %></li>
          </ul>
        </div>
        <footer id="showMore">
          <a id="show" href="#">Show More</a>
          <button class="delete">Delete Contact</button>
        </footer>
      </div>
      <div class="details hidden">
        <div class="main">
          <ul>
            <li id="title"><%= title %></li>
            <li id="company"><%= company %></li>
          </ul>
        </div>
        <footer id="showLess">
          <a id="hide" href="#">Show Less</a>
        </footer>
      </div>
  </script>
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/models/contact.js"></script>
  <script src="js/collections/rolodex.js"></script>
  <script src="js/views/contact.js"></script>
  <script src="js/views/rolodex.js"></script>
  <script src="js/app.js"></script>
</body>
</html>