.container {
  margin: 5% auto;
  width: 80%;
}

h1 {
  text-align: center;
  font-size: 4em;
  padding: 0;
  margin: 0;
}

#showAddForm{
  color: #349DC9;
  text-decoration: none;
}

#search{
  margin-bottom: 1%;
}

/* FORM */
.addContact {
  margin: 3% auto;
  width: 100%;
}

.addContact a{
  color: #349DC9;
  text-decoration: none;
}

.addContact div {
  width: 50%;
  margin: 0 auto;
}

.addContact input {
  width: 100%;
  font-size: 2em;
}

.addContact a#add {
  background-color: #27ae60;
  border-radius: 5px;
  font-size: 2em;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 1% auto;
  padding: 10px;
  display: inline-block;
  width: 98%;
  transition: .5s all ease;
}

.addContact a#add:hover{
  background-color: #2ecc71;
  transition: .5s all ease;
}

/* INDIVIDUAL CONTACT */
.contactContainer {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #777;
  border-radius: 5px;
}

.basics, .details {
  width: 100%;
  padding: 1%;
}

.basics header{
  font-size: 3em;
  width: 75%;
  display: inline-block;
}

.basics > .main {
  display: inline-block;
  text-align: right;
}

.basics > .main > ul {
  padding: 0;
}

.basics > .main > ul li {
  font-size: 1em;
  list-style: none;
}

.basics > .main > ul li.email {
  font-style: italic;
  padding-bottom: 1%;
}

.basics > footer > a, .details > footer > a{
  color: #349DC9;
  text-decoration: none;
}

.hidden {
  display: none;
}