/* TAGS */
nav{
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
}

input {
  font-size: 2em;
  border: none;
  border-radius: 5px;
  padding: 0; /*default is 1px for inputs */
}

h1, h2, h3, h4{
  color: #343434;
  text-align: center;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

h4{
  font-size: 1.2em;
}

a{
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 1% 0;
  cursor: pointer;
}

form {
  box-sizing: border-box;
  margin: 0 auto 3% auto;
  padding: 3%;
  width: 100%;
  background-color: #F2F2F2;
}

form input:nth-last-of-type(n+2) {
  margin-bottom: 3px; /* no margin on last one */
}

/* SKINS/THEMES */
/* green to lighter green bg, white text */
.go{
  background-color: #27ae60;
  transition: .5s all ease;
  color: white;
}

.go:hover{
  background-color: #2ecc71;
  transition: .5s all ease;
}

/* gray to light blue bg, white text*/
.info{
  color:white;
  background-color: #95a5a6;
  transition: 0.3s all ease;
}

.info:hover{
  background-color: #89D0FF;
  cursor: pointer;
  transition: 0.3s all ease;
}

/* no bg to light blue bg, dark grey text*/
.glow{
  color: #343434;
  transition: .5s all ease;
}

.glow:hover{
  background-color: #89D0FF;
  transition: .5s all ease;
}

/* red to lighter red bg, white text */
.danger{
  color: white;
  background-color: #c0392b;
  transition: .5s all ease;
}

.danger:hover{
  background-color: #e74c3c;
  transition: .5s all ease;
}

/* light grey bg */
.bg-light{
  background-color: #F2F2F2;
}
.border-blue-5{
  border-top: 5px solid #89D0FF;
  border-left: 5px solid #89D0FF;
  border-right: 5px solid #89D0FF;
}

.glow-dull{
  transition: .5s all ease;
}

.glow-dull:hover{
  background-color: #F2F2F2;
  transition: .5s all ease;
}

.border-blue-5:last-child{
  border-bottom: 5px solid #89D0FF;
}


.flip{
  background-color: #3DB1FF;
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* POSITIONING */
.padding-all-1 {
  padding: 1%;
  box-sizing: border-box;
}

.padding-lr-1{
  padding: 0 1%;
  box-sizing: border-box;
}

.padding-tb-1{
  padding: 1% 0;
  box-sizing: border-box;
}

.last-row{
  margin-bottom: 1%;
}

.btn {
  border-radius: 5px;
  display: inline-block;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.active, .tab:active{
  background-color:#3DB1FF;
  transition: 0.3s all ease;
 }

.tab{
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  border-right: 1px solid white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tab:last-child{
  border-right: 0;
}

.disp-ib{
  display: inline-block;
}

.w-small{
  width: 3.6%;
}

.bold{
  font-weight: 700;
}

.ital{
  font-style: italic;
}

.font-size-reset{
  font-size: 1em;
}
